@font-face {
    font-family: 'trajan-regular';
    src: url('../assets/fonts/trajan_regular.ttf') format('woff2');
}
@font-face {
    font-family: 'trajan-bold';
    src: url('../assets/fonts/trajan_bold.ttf') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;

}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.site-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
}

.up-timer,.timer,.down-timer {
    color: white;
    font-family: 'trajan-bold', sans-serif;
}

.up-timer, .down-timer {
    font-size: 30px;
}

.down-timer span {
}

.timer {
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;

    height: 50px;
    width: 100vw;

    font-family: 'trajan-bold', sans-serif;
}

.creator a, .right-footer {

    color: white;
    margin: 30px;
}

.github a{
    color: white;
}

.about a{
    margin-right: 30px;
    color: white;
}

.about a:hover{
    text-decoration: underline;
}
.creator a:hover, .about a:hover, .github a:hover {
    text-decoration: underline;
}

@media (max-width: 1299px)
{
    .up-timer, .down-timer {
        font-size: 20px;
    }
    .timer {
        font-size: 30px;
    }
}

@media (max-width: 599px)
{
    .footer {
        flex-direction: column;
    }
    .right-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .github a{
        margin: 0px;
        color: white;
    }
    
    .about a{
        margin: 0px;
        color: white;
    }
}
@media (max-width: 599px)
{
    .site-logo {
        width: 300px;
    }
    .footer {
        height: 170px;
        justify-content: flex-start;
    }
    .right-footer {
        gap:20px;
    }
}

